# API server URL
NEXT_PUBLIC_API_URL=https://api.travel-maker.site/api/v1/

# Kakao OAuth authorize configuration
NEXT_PUBLIC_KAKAO_CLIENT_ID=62fa548f8ac6ec5504a0c3bd9f47e23f
NEXT_PUBLIC_KAKAO_REDIRECT_URI=https://api.travel-maker.site/api/v1/auth/kakao/callback
